/**
 * Media 480px-767px
 *
 * description: css rules for screen of new moderm smartphone
 */
@media (max-width: 767px) {
    .pagination-wrap {
        li {
            display: none;
            &.active, &.nextpostslink {
                display: inline-block;
            }
        }
    }
}
