/**
 * Media 480px-
 *
 * description: css rules for screen of old school smartphone
 */
@media (max-width: 480px) {
    .mod-content {
        &.mod-about {
            .inner {
                padding-left: 0;
            }
        }
    }
    .mod-video {
        .video-wrap {
            height: 240px;
        }
    }
    .prod-item {
        .prod-img {
            height: 130px;
        }
    }
    .mod-content {
        &.mod-products {
            .ctent {
                padding: 10px;
            }
        }
    }
    .docs-list {
        li {
            width: 50%;
        }
    }
}
@media (max-width: 440px) {
    .mod-content {
        &.mod-about {
            .col-xs-6 {
                width: 100%;
                &:first-child {
                    margin-bottom: 20px;
                }
            }
        }
    }
    .prod-item {
        .prod-img {
            height: 100px;
        }
    }
    .article-content {
        .table {
            th {
                width: 80px;
            }
        }
    }
    .hotnews-wrap {
        height: auto;
        .hotnews-title {
            float: none;
            width: 100%;
        }
        .hotnews {
            padding: 5px 10px;
        }
    }
    .news-list {
        .col-img {
            margin-bottom: 10px;
        }
        .col-img, .col-content {
            width: 100%;
        }
    }
}
@media (max-width: 380px) {
    .mod-video {
        .video-wrap {
            height: 200px;
        }
    }
    .mod-content {
        &.mod-clients {
            li {
                img {
                    width: 146px;
                    height: 100px;
                }
            }
        }
    }
    .prod-item {
        width: 100%;
        .prod-img {
            height: 150px;
        }
    }
    .blk-related {
        ul {
            padding-left: 0;
        }
    }
    .article-content {
        ul {
            padding-left: 15px;
        }
    }
    .project-related-wrap {
        .rel-item  {
            width: 140px;
        }
    }
    .docs-list {
        li {
            width: 100%;
        }
    }
}