.mod-content.mod-about.mbt-15
    .ctent 
        .row
            .col-xs-6
                a(href="#")
                    img(src="uploads/home_intro.jpg", alt="")
            // END
            .col-xs-6
                .inner
                    h3.ttl 
                        a(href="#") Công ty cổ phần tư vấn thiết kế xây dựng và Kiểm định Bách Khoa Việt (Polycons),
                    p chuyên cung cấp các dịch vụ tư vấn trong lãnh vực xây dựng như thiết kế xây dựng, quản lý dự án, kiểm định chất lượng công trình, thẩm tra thiết
                    a(href="#").more Xem thêm >>
            // END