.mod-content.mod-clients.mbt-15
    h2.mod-title KHÁCH HÀNG
    .ctent 
        ul.clearfix
            li 
                a(href="#") 
                    img(src="uploads/logo/logo-polyco.png", alt="")
            li 
                a(href="#") 
                    img(src="uploads/logo/logo-anco.jpg", alt="")
            li 
                a(href="#") 
                    img(src="uploads/logo/logo-hoaphat.jpg", alt="")
            li 
                a(href="#") 
                    img(src="uploads/logo/logo-masan.jpg", alt="")
            li 
                a(href="#") 
                    img(src="uploads/logo/logo-sabeco.jpg", alt="")