.mod-content.mod-consult.mbt-15.mod-list
    h2.mod-title CÁC DỊCH VỤ VÀ TƯ VẤN
    .ctent 
        ul
            li 
                a(href="#") Thiết Kế Công Trình Xây Dựng Dân Dụng Và Công Nghiệp 
            li 
                a(href="#") Thẩm Tra Thiết Kế Và Dự Toán Công Trình
            li 
                a(href="#") Kiểm Định Chất Lượng Công Trình Xây Dựng
            li 
                a(href="#") Tư Vấn Giám Sát Công Trình Xây Dựng
            li 
                a(href="#") Tư Vấn Quản Lý Dự Án Công Trình Xây Dựng
            li 
                a(href="#") Tư Vấn Cấp Chứng Nhận An Toàn Chịu Lực 
            li 
                a(href="#") Quan trắc lún công trình
            li 
                a(href="#") Thử Tải Công Trình
            li 
                a(href="#") Thí Nghiệm Vật Liệu Xây Dựng
            li 
                a(href="#") Tư Vấn Khảo Sát Địa Hình
            li 
                a(href="#") Tư Vấn Khảo Sát Địa Chất