.hotnews-wrap.mbt-15
    .hotnews-title Tin mới nhất
    // END: TITLE
    .hotnews
        .hotnews-item
            a(href="#") Cảnh thi công trên đỉnh tòa nhà cao nhất Việt Nam
        .hotnews-item
            a(href="#") Đà Nẵng buộc khách sạn tháo dỡ 129 phòng xây không phép
        .hotnews-item
            a(href="#") Khám phá khách sạn có sức chứa 3500 khách ở Việt Nam
    // END: TITLE
