.main-slider-wrap.mbt-15
    .main-slider
        .slider-item
            a(href="#")
                img(src="uploads/slider.jpg", alt="")
        // END : ITEM
        .slider-item
            a(href="#")
                img(src="uploads/slider.jpg", alt="")
        // END : ITEM
        .slider-item
            a(href="#")
                img(src="uploads/slider.jpg", alt="")
        // END : ITEM