.mod-content.mod-news.mbt-15
    h2.mod-title.gray TIN NỔI BẬT
    .ctent 
        ul
            li 
                a(href="#") Cảnh thi công trên đỉnh tòa nhà cao nhất Việt Nam
            li 
                a(href="#") Đà Nẵng buộc khách sạn tháo dỡ 129 phòng xây không phép
            li 
                a(href="#") Khám phá khách sạn có sức chứa 3500 khách ở Việt Nam
            li 
                a(href="#") Ngắm căn hộ có nội thất màu tối tuyệt đẹp
            li 
                a(href="#") Những chính sách nổi bật có hiệu lực từ tháng 5
            li 
                a(href="#") Cáp treo Nha Trang trong top 30 nơi đẹp nhất tại Việt Nam
            li 
                a(href="#") Mảnh đất trũng, méo ở Hà Nội biến thành biệt thự xanh mướt
            li 
                a(href="#") Căn hộ Sài Gòn thiết kế kiểu Nhật được nghìn người mê