.mod-content.mod-price.mbt-15.mod-list
    h2.mod-title GIÁ CẢ THỊ TRƯỜNG
    .ctent 
        ul
            li 
                a(href="#") Thông báo giá VLXD từ các Doanh nghiệp
            li 
                a(href="#") Thông báo giá VLXD từ các Tỉnh