.mod-content.mod-text.mbt-15.mod-list
    h2.mod-title VĂN BẢN MỚI
    .ctent 
        ul
            li 
                a(href="#") Thông tư số 03/2016/TT-BXD ngày 10/03/2016 của Bộ Xây dựng quy định về phân cấp công trình xây dựng và hướng dẫn áp dụng trong quản lý hoạt động đầu tư xây dựng.
            li 
                a(href="#") Thông tư số 17/2016/TT-BXD ngày 30/06/2016 của Bộ Xây dựng về việc hướng dẫn về năng lực của tổ chức, cá nhân tham gia hoạt động xây dựng
            li 
                a(href="#") Nghị định 42/2017 sửa đổi một số điều của Nghị định 59/2015/NĐ-CP Về quản lý dự án đầu tư xây dựng
            li 
                a(href="#") Luật nhà ở 65.2014
            li 
                a(href="#") Nghị định 59/2015/NĐ-CP Về quản lý dự án đầu tư xây dựng
            li 
                a(href="#") Luật kinh doanh Bất động sản 66.2014 