.mod-content.mod-video.mbt-15.mod-list
    h2.mod-title VIDEO
    .video-wrap
        iframe(src="https://www.youtube.com/embed/Xaf0Jod68pM?rel=0", frameborder="0", allow="autoplay; encrypted-media", allowfullscreen)
    .ctent 
        ul
            li 
                a(href="#") Video: Tường Tơ Lụa Công Nghệ Vật Liệu Xây Dựng Hoàn Hảo
            li 
                a(href="#") Video: Thủ Thêm trong tương lai
            li 
                a(href="#") Video: Ý tưởng quy hoạch Hà Nội đến năm 2030
            li 
                a(href="#") Video: Phối cảnh hầm qua Đèo Cả
            li 
                a(href="#") Video: Mô phỏng tuyến tàu điện ngầm đầu tiên ở Việt Nam
            li 
                a(href="#") Video: Quy hoạch Đà Nẵng