extends layouts/layout
block main
    include blocks/homepage/hotnews
    // END : HOT NEWS
    include blocks/homepage/main-slider
    // END : MAIN SLIDER
    include blocks/about/breadcrumb
    // END : BREADCRUMB
    include blocks/about/content
    // END : CONTENT
    include blocks/homepage/clients
    // END : BLK CLIENTS
