extends layouts/layout
block main
    include blocks/homepage/hotnews
    // END : HOT NEWS
    include blocks/homepage/main-slider
    // END : MAIN SLIDER
    include blocks/homepage/contact
    // END : BLK CONTACT
    include blocks/homepage/consult
    // END : BLK CONSULT
    include blocks/homepage/about
    // END : BLK ABOUT
    include blocks/homepage/products
    // END : BLK PRODUCTS
    include blocks/homepage/news
    // END : BLK NEWS
    include blocks/homepage/text
    // END : BLK TEXT
    include blocks/homepage/price
    // END : BLK PRICE
    include blocks/homepage/video
    // END : BLK VIDEOS
    include blocks/homepage/clients
    // END : BLK CLIENTS
