.blk-content-wrap.mbt-15
    h1.blk-title TIN TỨC
    .news-list
        .news-item
            a(href="#")
                .row
                    .col-xs-4.col-img
                        img(src="uploads/nw-1.jpg", alt="")
                    // END : IMG
                    .col-xs-8.col-content
                        h3.ttl Ngắm căn hộ có nội thất màu tối tuyệt đẹp
                        span.more Đọc thêm...	
                    // END : IMG
        // END : ITEM
        .news-item
            a(href="#")
                .row
                    .col-xs-4.col-img
                        img(src="uploads/nw-2.png", alt="")
                    // END : IMG
                    .col-xs-8.col-content
                        h3.ttl Cáp treo Nha Trang trong top 30 nơi đẹp nhất tại Việt Nam
                        span.more Đọc thêm...	
                    // END : IMG
        // END : ITEM
        .news-item
            a(href="#")
                .row
                    .col-xs-4.col-img
                        img(src="uploads/nw-1.jpg", alt="")
                    // END : IMG
                    .col-xs-8.col-content
                        h3.ttl Ngắm căn hộ có nội thất màu tối tuyệt đẹp
                        span.more Đọc thêm...	
                    // END : IMG
        // END : ITEM
        .news-item
            a(href="#")
                .row
                    .col-xs-4.col-img
                        img(src="uploads/nw-2.png", alt="")
                    // END : IMG
                    .col-xs-8.col-content
                        h3.ttl Cáp treo Nha Trang trong top 30 nơi đẹp nhất tại Việt Nam
                        span.more Đọc thêm...	
                    // END : IMG
        // END : ITEM
        .news-item
            a(href="#")
                .row
                    .col-xs-4.col-img
                        img(src="uploads/nw-1.jpg", alt="")
                    // END : IMG
                    .col-xs-8.col-content
                        h3.ttl Ngắm căn hộ có nội thất màu tối tuyệt đẹp
                        span.more Đọc thêm...	
                    // END : IMG
        // END : ITEM
        .news-item
            a(href="#")
                .row
                    .col-xs-4.col-img
                        img(src="uploads/nw-2.png", alt="")
                    // END : IMG
                    .col-xs-8.col-content
                        h3.ttl Cáp treo Nha Trang trong top 30 nơi đẹp nhất tại Việt Nam
                        span.more Đọc thêm...	
                    // END : IMG
        // END : ITEM
    // END
    include ../project/pagination
    // END : PAGINATION