.blk-related
    h2.ttl Tin cũ hơn:
    ul
        li 
            a(href="#") Nhà gỗ chọc trời dạng xoắn ốc lấy cảm hứng từ những cây Baobab - 
                span.time 24/05/2014
        li 
            a(href="#") Thang cứu hỏa dài nhất gây tranh cãi sau vụ cháy chung cư London - 
                span.time 24/05/2014
        li 
            a(href="#") Kiến trúc sư Shigery Ban tiết lộ kế hoạch xây dựng tòa nhà gỗ cao nhất thế giới - 
                span.time 24/05/2014
        li 
            a(href="#") Shinkansen, chuyến tàu 50 năm chưa trễ một lần - 
                span.time 24/05/2014
        li 
            a(href="#") Những chính sách nổi bật có hiệu lực từ tháng 3/2017 - 
                span.time 24/05/2014
        li 
            a(href="#") Chính sách mới có hiệu lực từ tháng 1/2017 - 
                span.time 24/05/2014