header.header-wrap.mbt-15
    .container
        .header-logo
            a(href="#")
                img(src="uploads/logo.jpg", alt="")
        // END : LOGO
        .header-menu
            ul
                li.active
                    a(href="#") Trang chủ
                li
                    a(href="#") Giới thiệu
                li.has-child
                    a(href="#") Dự án
                    ul.dropdown-menu
                        li 
                            a(href="#") Tất cả dự án
                        li 
                            a(href="#") Nhà máy, nhà xưởng
                        li 
                            a(href="#") Giao thông & Hạ tầng kỹ thuật
                        li 
                            a(href="#") Khách sạn, khu nghỉ mát
                        li 
                            a(href="#") Cao ốc chung cư
                        li 
                            a(href="#") Các công trình khác
                li
                    a(href="#") Khách hàng
                li.has-child
                    a(href="#") Tài liệu
                    ul.dropdown-menu
                        li 
                            a(href="#") Luật
                        li 
                            a(href="#") Quyết định
                        li 
                            a(href="#") Nghị quyết
                        li 
                            a(href="#") Nghị định
                        li 
                            a(href="#") Thông tư
                        li 
                            a(href="#") Tiêu chuẩn - Quy chuẩn
                li.has-child
                    a(href="#") Tin Tức
                    ul.dropdown-menu
                        li 
                            a(href="#") Bản tin xây dựng
                        li 
                            a(href="#") Bản tin bất đông sản
                        li 
                            a(href="#") Bản tin kinh doanh
                        li 
                            a(href="#") Màu sắc không gian
                        li 
                            a(href="#") Chuyên mục
                li
                    a(href="#") Thảo luận
                li
                    a(href="#") Liên hệ
            // END
            .flag-wrap
                a(href="#").active
                    img(src="uploads/flag-vn.jpg", alt="")
                a(href="#")
                    img(src="uploads/flag-en.jpg", alt="")
            // END
        // END : MENU
        a(href="#", class="menu_mb")
            i.fa.fa-bars
