.breadcrumb-wrap.mbt-15
    a(href="#") Trang chủ 
    img(src="uploads/arrow.png", alt="")
    a(href="#") Dự án
    img(src="uploads/arrow.png", alt="")
    a(href="#") Hạ tầng kỷ thuật
    img(src="uploads/arrow.png", alt="")
    span Khu công nghiệp Hanaka