.blk-content-wrap.mbt-15
    h1.blk-title PROJECTS
    .article-content
        .row
            .col-md-4.col-sm-4.col-xs-6.prod-item
                a(href="#")
                    figure.prod-img(style="background-image: url('uploads/prods/2.effectsresult.effectsresult.png')")
                    h3.ttl Nhà xưởng cơ khí gia công chế tạo thép kết cấu và bồn áp lực
            // END : ITEM
            .col-md-4.col-sm-4.col-xs-6.prod-item
                a(href="#")
                    figure.prod-img(style="background-image: url('uploads/prods/phoi_canh_lang_viet_nam.jpg')")
                    h3.ttl Trang trại chăn nuôi heo công nghệ cao Làng Việt Nam
            // END : ITEM
            .col-md-4.col-sm-4.col-xs-6.prod-item
                a(href="#")
                    figure.prod-img(style="background-image: url('uploads/prods/ltbn-view2.jpg')")
                    h3.ttl Nhà máy Ô Tô Long Trường
            // END : ITEM
            .col-md-4.col-sm-4.col-xs-6.prod-item
                a(href="#")
                    figure.prod-img(style="background-image: url('uploads/prods/cj.jpg')")
                    h3.ttl Nhà máy chế biến thực phẩm Cầu Tre
            // END : ITEM
            .col-md-4.col-sm-4.col-xs-6.prod-item
                a(href="#")
                    figure.prod-img(style="background-image: url('uploads/prods/phoi_canh_bia_sai_gon-_ben_tre.jpg')")
                    h3.ttl Nhà máy bia Sài Gòn - Bến Tre
            // END : ITEM
            .col-md-4.col-sm-4.col-xs-6.prod-item
                a(href="#")
                    figure.prod-img(style="background-image: url('uploads/prods/phoi_canh_nha_may_bia_sai_gon_va_bao_bi_dong_thap.jpg')")
                    h3.ttl Nhà máy Bia Sài Gòn - Đồng Tháp và Nhà máy Bao Bì Sabeco - Đồng Tháp
            // END : ITEM
            .col-md-4.col-sm-4.col-xs-6.prod-item
                a(href="#")
                    figure.prod-img(style="background-image: url('uploads/prods/trai_heo_masan_quy_hop_s2.png')")
                    h3.ttl Trang trại chăn nuôi heo S2 - 5.000 nái + 50.000 thịt
            // END : ITEM
            .col-md-4.col-sm-4.col-xs-6.prod-item
                a(href="#")
                    figure.prod-img(style="background-image: url('uploads/prods/pc_proconco_binh_dinh_2_1.jpg')")
                    h3.ttl Nhà máy sản xuất thức ăn chăn nuôi Proconco Bình Định
            // END : ITEM
            .col-md-4.col-sm-4.col-xs-6.prod-item
                a(href="#")
                    figure.prod-img(style="background-image: url('uploads/prods/2.effectsresult.effectsresult.png')")
                    h3.ttl Nhà xưởng cơ khí gia công chế tạo thép kết cấu và bồn áp lực
            // END : ITEM
            .col-md-4.col-sm-4.col-xs-6.prod-item
                a(href="#")
                    figure.prod-img(style="background-image: url('uploads/prods/phoi_canh_lang_viet_nam.jpg')")
                    h3.ttl Trang trại chăn nuôi heo công nghệ cao Làng Việt Nam
            // END : ITEM
            .col-md-4.col-sm-4.col-xs-6.prod-item
                a(href="#")
                    figure.prod-img(style="background-image: url('uploads/prods/ltbn-view2.jpg')")
                    h3.ttl Nhà máy Ô Tô Long Trường
            // END : ITEM
            .col-md-4.col-sm-4.col-xs-6.prod-item
                a(href="#")
                    figure.prod-img(style="background-image: url('uploads/prods/cj.jpg')")
                    h3.ttl Nhà máy chế biến thực phẩm Cầu Tre
            // END : ITEM
    // END
    include pagination
    // END : PAGINATION