.blk-content-wrap.mbt-15
    h1.blk-title KHU CÔNG NGHIỆP HANAKA
    .project-blk
        img(src="uploads/kcn-hanaka.png", alt="")
    // END : IMG
    .project-blk
        b Địa Điểm:&nbsp;
        | Thị xã Từ Sơn - Tỉnh Bắc Ninh
    // END 
    .project-blk
        b Diện Tích:&nbsp;
        | 74,23 ha
    // END 
    .project-blk
        h2.ttl Mô Tả Chi Tiết Dự Án:
        p - Đất xây dựng công nghiệp: 451.352,0 m
            sup 2
        p - Đất trung tâm điều hành, dịch vụ: 41.222,0 m
            sup 2
        p - Đất giao thông, bãi xe: 136.253,0 m
            sup 2
        p - Đất xây dựng cơ sở hạ tầng kỹ thuật: 21.155,0 m
            sup 2
        p - Tổng vốn đầu tư: 400 tỷ đồng
    // END 
    .project-blk
        h2.ttl Dịch vụ tư vấn:
        p - Thiết kế kỹ thuật, thiết kế bản vẽ thi công hạ tầng kỹ thuật
    // END 
    include related
    // END : RELATED
    include project-related
    // END : PROJECT RELATED