.pagination-wrap
    ul.pagination1
        li.nextpostslink
            a(href="#")     
                i.fa.fa-angle-double-left
        li
            a(href="#") 1
        li
            a(href="#") 2
        li.active
            a(href="#") 3
        li
            a(href="#") 4
        li
            a(href="#") 5
        li
            a(href="#") 6
        li
            a(href="#") 7
        li
            a(href="#") 8
        li.nextpostslink
            a(href="#")
                i.fa.fa-angle-double-right