.project-related-wrap
    h2.ttl DỰ ÁN LIÊN QUAN :
    .project-related
        .rel-item 
            a(href="#")
                img(src="uploads/kcn-hanaka.png", alt="")
                h3.rel-ttl Khu công nghiệp Hanaka
        // END : ITEM
        .rel-item 
            a(href="#")
                img(src="uploads/kcn-hanaka.png", alt="")
                h3.rel-ttl Khu công nghiệp Hanaka
        // END : ITEM
        .rel-item 
            a(href="#")
                img(src="uploads/kcn-hanaka.png", alt="")
                h3.rel-ttl Khu công nghiệp Hanaka
        // END : ITEM