block vars
  -title = "Polycons"
doctype html
//[if IE 8]><html lang="en" class="no-js ie ie8"><![endif]
//[if IE 9]><html lang="en" class="no-js ie ie9"><![endif]
//[if gt IE 9]><!
html(class="no-js", lang="en")
  //<![endif]
  head
    meta(charset="utf-8")
    title=title
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    //-- Call font
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,700', rel='stylesheet', type='text/css')
    link(rel="shortcut icon", href="uploads/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="css/style.min.css")
    //--script(src="js/modernizr.js")
  body(class="body-css "  )

    include ../includes/header.jade
    // END : HEADER
    section.main
      .container
        block main
    // END : MAIN CONTENT

    include ../includes/footer.jade
    // END : FOOTER
    include ../includes/scripts.jade
