.blk-content-wrap.mbt-15
    h1.blk-title LIÊN HỆ
    .article-content
        table.table
            tr  
                th Địa chỉ:
                td 28/15 Phan Đình Giót – Phường 2 – Quận Tân Bình – Thành phố Hồ Chí Minh.
            tr  
                th Email
                td bkv@polycons.vn
            tr  
                th Điện thoại:
                td 848) 62 969 139 - (848)38 443 399
            tr  
                th Fax:
                td (848) 39 971 846
            tr  
                th Điện thoại:
                td 0983.283.424 ( Mr. Dũng ) - 0908.878.747 ( Mr. Quang )
            tr  
                th Website:
                td http://www.polycons.vn
    // END
    .form-wrap
        h2.ttl Gửi mail liên hệ
        form
            .form-group
                label(for="username") Tên bạn:
                input(type="text", class="ipt", id="username")
            // END
            .form-group
                label(for="email") Địa chỉ email:
                input(type="text", class="ipt", id="email")
            // END
            .form-group
                label(for="company") Tên công ty:
                input(type="text", class="ipt", id="company")
            // END
            .form-group
                label(for="message") Nội dung thông điệp:
                textarea(class="txt", id="message")
            // END
            .form-group
                button.btn.btn-primary(type="button") Gửi
                button.btn.btn-default(type="reset") Nhập lại
            // END
    // END : FORM