.blk-content-wrap.mbt-15
    .docs-blk.mbt-30
        h1.blk-title Quyết định
        table.table.table-striped.table-bordered
            tr
                th.w30.text-center Stt
                th.text-center Tên văn bản
                th.w70.text-center Lần tải	
                th.w50.text-center Tải
            tr
                td.text-center 1
                td
                    a(href="#") Q 68-2010 UBND TPHCM_POLYCONS.pdf
                td.text-center 100
                td.text-center
                    a(href="#")
                        i.fa.fa-download
            tr
                td.text-center 2
                td
                    a(href="#") Q - 1191-Q-BXD _ POLYCONS.pdf
                td.text-center 181
                td.text-center
                    a(href="#")
                        i.fa.fa-download
            tr
                td.text-center 3
                td
                    a(href="#") QD 957-2009 BXD_POLYCONS.pdf
                td.text-center 36
                td.text-center
                    a(href="#")
                        i.fa.fa-download
            tr
                td.text-center 4
                td
                    a(href="#") POLYCONS_84-2007-N-CP.pdf
                td.text-center 153
                td.text-center
                    a(href="#")
                        i.fa.fa-download
    // END
    .docs-blk.mbt-30
        h1.blk-title THÔNG BÁO GIÁ VLXD TỪ CÁC DOANH NGHIỆP
        ul.docs-list
            li 
                a(href="#") Vật Liệu Xây Dựng
            li 
                a(href="#") Nội Và Ngoại Thất
            li 
                a(href="#") Cơ - Điện - Lạnh - TBCN
            li 
                a(href="#") Máy - Công Cụ
            li 
                a(href="#") An Ninh - An Toàn
            li 
                a(href="#") Vật Liệu Công Trường Khác
    // END