/**
 * CSS CONTENT
 */

// CSS HOT NEWS
.hotnews-wrap {
    border: 1px solid #aeaeae;
    height: 32px;
    overflow: hidden;
    .hotnews-title {
        float: left;
        height: 30px;
        margin-right: 10px;
        width: 91px;
        background-image: url('../images/bg_news.jpg');
        background-repeat: repeat-x;
        color: #333;
        text-align: center;
        text-shadow: 0 1px 1px white;
        line-height: 30px;
        font-size: 13px;
    }
    .hotnews {
        padding-top: 6px;
    }
    .hotnews-item {
        a {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: blue;
            .transition(all .3s ease);
            font-size: 12px;
            &:hover {
                color: #d40402;
            }
        }
    }
}

// CSS MAIN SLIDER
.main-slider-wrap {
    img {
        width: 100%;
    }
    .slider-item {
        a {
            display: block;
        }
    }
    .slick-dots {
        bottom: 10px;
        li {
            width: 12px;
            height: 12px;
            margin: 0 4px;
            button {
                width: 10px;
                height: 10px;
                .border-radius(50%);
                border: 1px solid #fff;
                background-color: transparent;
                padding: 1px;
                &::before {
                    display: none;
                }
            }
            &.slick-active {
                button {
                    background-color: #fff;
                }
            }
        }
    }
}

// CSS MODULE
.mod-content {
    border: 1px solid #e7e7e7;
    .border-radius(5px);
    .mod-title {
        background-color: @blue;
        text-align: center;
        font-weight: 700;
        color: #fff;
        .border-radius(5px 5px 0 0);
        text-transform: uppercase;
        font-size: 14px;
        margin-bottom: 0;
        padding: 6px 0;
    }
    .ctent {
        padding: 10px;
    }
    &.mod-contact {
        .ctent {
            font-weight: 700;
            color: red;
            text-align: center;
            p {
                margin-bottom: 3px;
                a {
                    color: red;
                }
            }
        }
    }
}
.mod-content {
    &.mod-list {
        ul {
            padding-left: 15px;
        }
        li {
            border-bottom: 1px dotted #ccc;
            margin-bottom: 5px;
            padding: 5px 0;
            &:last-child {
                border-bottom: none;
                margin-bottom: 0;
            }
            list-style: disc;
            a {
                display: block;
                color: #000;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
    &.mod-consult {
        .ctent {
            display: none;
        }
        .mod-title {
            .border-radius(5px);
            position: relative;
            &::before {
                content: '\f0d7';
                .fontAwesome();
                position: absolute;
                top: 8px;
                z-index: 1;
                right: 10px;
            }
        }
    }
}
.mod-content {
    &.mod-consult {
        &.shw {
            .mod-title {
                .border-radius(5px 5px 0 0);
                &::before {
                    content: '\f0d8';
                }
            }
            .ctent {
                display: block;
            }
        }
    }
}
.mod-content {
    &.mod-about {
        background-color: #f1f1f0;
        .row {
            margin-left: -5px;
            margin-right: -5px;
            [class*="col"] {
                padding-left: 5px;
                padding-right: 5px;
            }
        }
        img {
            width: 100%;
        }
        .ttl {
            font-size: 14px;
            line-height: 18px;
            font-weight: 700;
            color: @blue;
            margin-bottom: 3px;
        }
        .more {
            color: #A80301;
            font-size: 12px;
            &:hover {
                text-decoration: underline;
            }
        }
        .inner {
            padding-left: 20px;
        }
    }
}

.mod-content {
    .mod-title {
        &.gray {
            background-image: url('../images/mod-title-bg.jpg');
            background-repeat: repeat-x;
            text-align: left;
            color: #000;
            text-shadow: 0 1px 1px white;
            padding-left: 40px;
            background-color: transparent;
            position: relative;
            &::before {
                content: "";
                display: block;
                background-image: url('../images/mod-title-icon.jpg');
                width: 21px;
                height: 14px;
                background-repeat: no-repeat;
                background-size: 21px auto;
                position: absolute;
                top: 6px;
                left: 10px;
                z-index: 1;
                background-position: center;
            }
        }
    }
}
.prod-item {
    margin-bottom: 10px;
    .ttl {
        font-size: 14px;
        color: #A80301;
        text-align: center;
        line-height: 18px;
        margin-bottom: 0;
        height: 36px;
        overflow: hidden;
        &:hover {
            text-decoration: underline;
        }
    }
    .prod-img {
        margin-bottom: 5px;
        background-repeat: no-repeat;
        width: 100%;
        height: 200px;
        background-position: center;
    }
}
.mod-content {
    &.mod-products {
        .ctent {
            padding: 10px 25px;
        }
    }
    &.mod-news {
        li {
            background-image: url('../images/menu_arrow.png');
            background-repeat: no-repeat;
            margin-bottom: 8px;
            background-position: left center;
            padding-left: 17px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.footer-wrap {
    text-align: center;
    padding: 10px 0;
}
.mod-content {
    &.mod-clients {
        li {
            margin-right: 15px;
            &:last-child {
                margin-right: 0;
            }
            img {
                border: 1px solid #C3CDD9;
                height: 120px;
                width: 175px;
                padding: 2px;
            }
        }
        ul {
            overflow:hidden;
            overflow-x: auto;
        }
    }
}
.mod-video {
    .video-wrap {
        height: 300px;
        iframe {
            width: 100%;
            height: 100%;
        }
    }
}
.mod-content {
    &.mod-video {
        ul {
            padding-left: 0;
        }
        li {
            list-style: none;
        }
    }
}

// CSS BREADCRUMB
.breadcrumb-wrap {
    a {
        color: blue;
        margin-right: 5px;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            color: #A80301;
        }
    }
    span {
        color: blue;
    }
    img {
        max-width: 100%;
        vertical-align: 1px;
        margin-right: 5px;
    }
}
.blk-content-wrap {
    border: 1px solid #c3cdd9;
    padding: 10px;
    .border-radius(5px);
}
.article-content {
    a {
        display: block;
        color: @blue;
        &:hover{
            text-decoration: underline;
        }
    }
    img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }
    ul {
        padding-left: 40px;
        margin-bottom: 10px;
    }
    li {
        padding: 5px 0;
        &:last-child {
            border-bottom: none;
            margin-bottom: 0;
        }
        list-style: disc;
    }
}
.rtecenter {
    text-align: center;
}
.blk-title {
    font-size: 16px;
    font-weight: 700;
    color: #A80301;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.article-content {
    .prod-img {
        border: 1px solid #C3CDD9;
    }
}
.pagination-wrap {
    text-align: center;
    li {
        display: inline-block;
        list-style: none;
        a {
            padding: 8px;
            color: #A80301;
            display: block;
            &:hover {
                text-decoration: underline;
            }
        }
        &.active {
            a {
                text-decoration: underline;
                font-weight: 700;
            }
        }
    }
}
.article-content {
    .table {
        th {
            width: 100px;
        }
        td, th {
            border-top: none;
            padding: 5px;
        }
    }
}
.ipt, .txt  {
    width: 100%;
    padding: 0 10px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #ccc;
    outline: none;
    .border-radius(4px);
    .transition(all .3s ease);
    &:focus {
        border-color: #999;
    }
}
.txt {
    height: 100px;
    line-height: normal;
    resize: none;
    padding: 5px 10px;
}
.form-wrap {
    .ttl {
        color: #A80301;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    label {
        margin-bottom: 3px;
        font-weight: 400;
    }
}
.btn {
    outline: none;
}
.news-list {
    .news-item {
        margin-bottom: 20px;
        .row {
            margin-left: -10px;
            margin-right: -10px;
            [class*="col"] {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
        a {
            display: block;
        }
        .col-img {
            img {
                width: 100%;
            }
        }
        .ttl {
            color: @blue;
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 10px;
            &:hover {
                text-decoration: underline;
            }
        }
        .more {
            color: #9D9D9D;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
.blk-related {
    margin-top: 30px;
    .ttl {
        font-weight: 700;
        font-size: 14px;
        color: #666;
    }
    ul {
        padding-left: 15px;
    }
    li {
        background-image: url("../images/list_type_circus.jpg");
        background-repeat: no-repeat;
        padding-left: 15px;
        margin-bottom: 5px;
        background-position: left center;
        a {
            display: block;
        }
        .time {
            color: #999;
            font-size: 12px;
            margin-left: 5px;
        }
    }
}
.project-blk {
    margin-bottom: 20px;
    .ttl {
        font-weight: 700;
        font-size: 14px;
    }
    img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }
}
.project-related-wrap {
    margin-top: 30px;
    .ttl {
        font-size: 14px;
        font-weight: 700;
    }
    .project-related {
        border: 1px solid #C3CDD9;
        .border-radius(5px);
        padding: 10px;
    }
    .rel-item  {
        width: 160px;
        margin-right: 15px;
        &:last-child {
            margin-right: 0;
        }
        img {
            width: 100%;
            border: 1px solid #C3CDD9;
            margin-bottom: 10px;
        }
        .rel-ttl {
            text-align: center;
            font-weight: 400;
            font-size: 14px;
            margin-bottom: 0;
        }
    }
}
.mbt-30 {
    margin-bottom: 30px;
}
.w30 {
    width: 30px;
}
.w50 {
    width: 50px;
}
.w70 {
    width: 70px;
}
.docs-blk {
    .table {
        a {
            color: blue;
            &:hover {
                text-decoration: underline;
            }
        }
        .fa-download {
            font-size: 24px;
            color: green;
        }
    }
}
.docs-list {
    .clearfix();
    margin-left: -10px;
    margin-right: -10px;
    li {
        float: left;
        width: 33.33333333%;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 10px;
        a {
            &::before {
                content: '\f0da';
                .fontAwesome();
                color: red;
                font-size: 12px;
                margin-right: 7px;
                display: inline-block;
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
}