/**
 * CSS HEADER
 */
.header-wrap {
    height: 60px;
    .header-logo {
        line-height: 60px;
        a {
            display: block;
        }
        img {
            width: 240px;
        }
    }
    .container {
        position: relative;
        margin-top: 10px;
    }
}
.header-wrap {
    .menu_mb {
        width: 40px;
        height: 40px;
        position: absolute;
        right: 15px;
        z-index: 1;
        top: 10px;
        background-color: @blue;
        text-align: center;
        line-height: 40px;
        color: #fff;
        .border-radius(5px);
        -webkit-transition: background-color .3s ease, color .3s ease, border-color .3s ease;
        -moz-transition: background-color .3s ease, color .3s ease, border-color .3s ease;
        -o-transition: background-color .3s ease, color .3s ease, border-color .3s ease;
        transition: background-color .3s ease, color .3s ease, border-color .3s ease;
        border: 1px solid transparent;
        font-size: 24px;
        &:hover {
            background-color: #fff;
            color: @blue;
            border-color: @blue;
        }
        &.act {
            z-index: 60;
            font-size: 30px;
            &:hover {
                background-color: @blue;
                color: #fff;
                border-color: transparent;
            }
        }
    }
}
.mbt-15 {
    margin-bottom: 15px;
}
.header-wrap {
    .header-menu {
        position: fixed;
        .opacity(0);
        visibility: hidden;
        z-index: -2;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        overflow-y: auto;
        background-color: @blue;
        .transition(all .3s ease);
        a {
            color: #fff;
            display: block;
            &:hover {
                color: red;
            }
        }
        > ul {
            padding: 50px 30px 30px 30px;
        }
        ul {
            li {
                padding: 10px 0;
                position: relative;
                border-bottom: 1px solid #fff;
                &.active {
                    a {
                        color: red;
                    }
                }
            }
        }
    }
}
.header-wrap {
    .header-menu {
        .dropdown-menu {
            padding-left: 30px;
            display: none;
            &.shw {
                display: block;
            }
            li {
                border-bottom: 1px dashed #fff;
                &:last-child {
                    border-bottom: none;
                    padding-bottom: 0;
                }
            }
        }
        .shw_menu {
            width: 37px;
            height: 37px;
            line-height: 37px;
            position: absolute;
            z-index: 1;
            top: 0;
            right: 0;
            color: #fff;
            text-align: center;
            cursor: pointer;
        }
    }
}
.header-wrap {
    .header-menu {
        &.shw {
            .opacity(1);
            visibility: visible;
            z-index: 50;
        }
    }
}
body {
    &.mn-open {
        overflow: hidden;
    }
}
.header-wrap {
    .flag-wrap {
        padding: 0px 30px 50px 30px;
        a {
            display: inline-block;
            margin-right: 15px;
            width: 40px;
            height: 25px;
            &:last-child {
                margin-right: 0;
            }
            img {
                width: 100%;
                border: 1px solid transparent;
            }
            &.active {
                img {
                    border-color: #fff;
                }
            }
        }
    }
}