.blk-content-wrap.mbt-15
    h1.blk-title Giới Thiệu  
    .article-content
        p 
            b Công ty cổ phần tư vấn thiết kế xây dựng và Kiểm định Bách Khoa Việt (Polycons)&nbsp;
            | chuyên cung cấp các dịch vụ tư vấn trong lĩnh vực xây dựng như:
        ul
            li 
                a(href="#") Thiết Kế Công Trình Xây Dựng Dân Dụng Và Công Nghiệp 
            li 
                a(href="#") Thẩm Tra Thiết Kế Và Dự Toán Công Trình
            li 
                a(href="#") Kiểm Định Chất Lượng Công Trình Xây Dựng
            li 
                a(href="#") Tư Vấn Giám Sát Công Trình Xây Dựng
            li 
                a(href="#") Tư Vấn Quản Lý Dự Án Công Trình Xây Dựng
            li 
                a(href="#") Tư Vấn Cấp Chứng Nhận An Toàn Chịu Lực 
            li 
                a(href="#") Quan trắc lún công trình
            li 
                a(href="#") Thử Tải Công Trình
        p Với đội ngũ kỹ sư, kiến trúc sư tài năng và giàu kinh nghiệm, chúng tôi đã tham gia tư vấn cho nhiều dự án lớn trong nhiều lĩnh vực, đặc biệt là trong lĩnh vực Bia - Rượu - Nước Giải Khát.
        p Với phương châm "Đưa đến khách hàng các giải pháp hiệu quả nhất". Chúng tôi mong muốn được phục vụ nhằm thỏa mãn nhu cầu của quý khách!
        p
            img(src="uploads/dia_diem_cty.png", alt="")
        p.rtecenter Họa đồ vị trí  Công Ty
        p
            img(src="uploads/hinh_cty.jpg", alt="")
        p.rtecenter Địa chỉ: 28/15 Phan Đình Giót - P. 2 - Quận Tân Bình - Tp. HCM

